In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\malli\OneDrive\Documents\Stocks.csv")
print(df)

   Symbol                   Company Exchange                        Industry  \
0     MMM                        3M     NYSE                    Conglomerate
1     AXP          American Express     NYSE              Financial services
2    AMGN                     Amgen   NASDAQ         Pharmaceutical industry
3    AAPL                Apple Inc.   NASDAQ          Information technology
4      BA                    Boeing     NYSE           Aerospace and defense
5     CAT          Caterpillar Inc.     NYSE         Construction and Mining
6     CVX       Chevron Corporation     NYSE              Petroleum industry
7    CSCO             Cisco Systems   NASDAQ          Information technology
8      KO     The Coca-Cola Company     NYSE                   Food industry
9     DOW                  Dow Inc.     NYSE               Chemical industry
10     GS             Goldman Sachs     NYSE              Financial services
11     HD            The Home Depot     NYSE                       Retailing
12    HON                 Honeywell   NASDAQ                    Conglomerate
13    IBM                       IBM     NYSE          Information technology
14   INTC                     Intel   NASDAQ          Information technology
15    JNJ         Johnson & Johnson     NYSE         Pharmaceutical industry
16    JPM            JPMorgan Chase     NYSE              Financial services
17    MCD                McDonald's     NYSE                   Food industry
18    MRK               Merck & Co.     NYSE         Pharmaceutical industry
19   MSFT                 Microsoft   NASDAQ          Information technology
20    NKE                Nike, Inc.     NYSE                         Apparel
21     PG          Procter & Gamble     NYSE      Fast-moving consumer goods
22    CRM                Salesforce     NYSE          Information technology
23    TRV   The Travelers Companies     NYSE              Financial services
24    UNH        UnitedHealth Group     NYSE             Managed health care
25     VZ    Verizon Communications     NYSE               Telecommunication
26      V                 Visa Inc.     NYSE              Financial services
27    WBA  Walgreens Boots Alliance   NASDAQ                       Retailing
28    WMT                   Walmart     NYSE                       Retailing
29    DIS   The Walt Disney Company     NYSE  Broadcasting and entertainment

    Date added                                  Notes Index weighting
0   1976-08-09  As Minnesota Mining and Manufacturing           3.84%
1   1982-08-30                                    NaN           2.88%
2   2020-08-31                                    NaN           4.87%
3   2015-03-19                                    NaN           2.57%
4   1987-03-12                                    NaN           4.92%
5   1991-05-06                                    NaN           4.54%
6   2008-02-19          Also 1930-07-18 to 1999-11-01           2.03%
7   2009-06-08                                    NaN           1.00%
8   1987-03-12          Also 1932-05-26 to 1935-11-20           1.04%
9   2019-04-02                                    NaN           1.25%
10  2013-09-20                                    NaN           6.54%
11  1999-11-01                                    NaN           6.24%
12  2020-08-31                                    NaN           4.47%
13  1979-06-29          Also 1932-05-26 to 1939-03-04           2.59%
14  1999-11-01                                    NaN           1.25%
15  1997-03-17                                    NaN           3.12%
16  1991-05-06                                    NaN           2.95%
17  1985-10-30                                    NaN           4.49%
18  1979-06-29                                    NaN           1.49%
19  1999-11-01                                    NaN           4.98%
20  2013-09-20                                    NaN           2.58%
21  1932-05-26                                    NaN           2.64%
22  2020-08-31                                    NaN           4.45%
23  2009-06-08                                    NaN           3.03%
24  2012-09-24                                    NaN           7.33%
25  2004-04-08                                    NaN           1.13%
26  2013-09-20                                    NaN           4.33%
27  2018-06-26                                    NaN           1.06%
28  1997-03-17                                    NaN           2.72%
29  1991-05-06                                    NaN           3.66%

In [21]:
df.describe()

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
count,30,30,30,30,30,4,30
unique,30,30,2,15,18,4,29
top,MMM,3M,NYSE,Information technology,2013-09-20,As Minnesota Mining and Manufacturing,1.25%
freq,1,1,23,6,3,1,2

In [11]:
print(df.isnull().sum())

print(" ")
print(df.columns.dtype)
#print(df.columns.astype)

Symbol              0
Company             0
Exchange            0
Industry            0
Date added          0
Notes              26
Index weighting     0
dtype: int64

object

In [14]:
print(df.shape)


print("len",len(df))

(30, 7)
len 30

In [17]:
print("first 10 datapoints: \n", df.head(10))

print(" ")

print("last 10  datapoiints: \n", df.tail(10))

first 10 datapoints:
   Symbol                Company Exchange                 Industry  Date added  \
0    MMM                     3M     NYSE             Conglomerate  1976-08-09
1    AXP       American Express     NYSE       Financial services  1982-08-30
2   AMGN                  Amgen   NASDAQ  Pharmaceutical industry  2020-08-31
3   AAPL             Apple Inc.   NASDAQ   Information technology  2015-03-19
4     BA                 Boeing     NYSE    Aerospace and defense  1987-03-12
5    CAT       Caterpillar Inc.     NYSE  Construction and Mining  1991-05-06
6    CVX    Chevron Corporation     NYSE       Petroleum industry  2008-02-19
7   CSCO          Cisco Systems   NASDAQ   Information technology  2009-06-08
8     KO  The Coca-Cola Company     NYSE            Food industry  1987-03-12
9    DOW               Dow Inc.     NYSE        Chemical industry  2019-04-02

                                   Notes Index weighting
0  As Minnesota Mining and Manufacturing           3.84%
1                                    NaN           2.88%
2                                    NaN           4.87%
3                                    NaN           2.57%
4                                    NaN           4.92%
5                                    NaN           4.54%
6          Also 1930-07-18 to 1999-11-01           2.03%
7                                    NaN           1.00%
8          Also 1932-05-26 to 1935-11-20           1.04%
9                                    NaN           1.25%

last 10  datapoiints:
    Symbol                   Company Exchange                        Industry  \
20    NKE                Nike, Inc.     NYSE                         Apparel
21     PG          Procter & Gamble     NYSE      Fast-moving consumer goods
22    CRM                Salesforce     NYSE          Information technology
23    TRV   The Travelers Companies     NYSE              Financial services
24    UNH        UnitedHealth Group     NYSE             Managed health care
25     VZ    Verizon Communications     NYSE               Telecommunication
26      V                 Visa Inc.     NYSE              Financial services
27    WBA  Walgreens Boots Alliance   NASDAQ                       Retailing
28    WMT                   Walmart     NYSE                       Retailing
29    DIS   The Walt Disney Company     NYSE  Broadcasting and entertainment

    Date added Notes Index weighting
20  2013-09-20   NaN           2.58%
21  1932-05-26   NaN           2.64%
22  2020-08-31   NaN           4.45%
23  2009-06-08   NaN           3.03%
24  2012-09-24   NaN           7.33%
25  2004-04-08   NaN           1.13%
26  2013-09-20   NaN           4.33%
27  2018-06-26   NaN           1.06%
28  1997-03-17   NaN           2.72%
29  1991-05-06   NaN           3.66%

In [29]:
#df.Company

df['Company']

0                           3M
1             American Express
2                        Amgen
3                   Apple Inc.
4                       Boeing
5             Caterpillar Inc.
6          Chevron Corporation
7                Cisco Systems
8        The Coca-Cola Company
9                     Dow Inc.
10               Goldman Sachs
11              The Home Depot
12                   Honeywell
13                         IBM
14                       Intel
15           Johnson & Johnson
16              JPMorgan Chase
17                  McDonald's
18                 Merck & Co.
19                   Microsoft
20                  Nike, Inc.
21            Procter & Gamble
22                  Salesforce
23     The Travelers Companies
24          UnitedHealth Group
25      Verizon Communications
26                   Visa Inc.
27    Walgreens Boots Alliance
28                     Walmart
29     The Walt Disney Company
Name: Company, dtype: object

In [27]:
df[['Company',"Industry"]]

                     Company                        Industry
0                         3M                    Conglomerate
1           American Express              Financial services
2                      Amgen         Pharmaceutical industry
3                 Apple Inc.          Information technology
4                     Boeing           Aerospace and defense
5           Caterpillar Inc.         Construction and Mining
6        Chevron Corporation              Petroleum industry
7              Cisco Systems          Information technology
8      The Coca-Cola Company                   Food industry
9                   Dow Inc.               Chemical industry
10             Goldman Sachs              Financial services
11            The Home Depot                       Retailing
12                 Honeywell                    Conglomerate
13                       IBM          Information technology
14                     Intel          Information technology
15         Johnson & Johnson         Pharmaceutical industry
16            JPMorgan Chase              Financial services
17                McDonald's                   Food industry
18               Merck & Co.         Pharmaceutical industry
19                 Microsoft          Information technology
20                Nike, Inc.                         Apparel
21          Procter & Gamble      Fast-moving consumer goods
22                Salesforce          Information technology
23   The Travelers Companies              Financial services
24        UnitedHealth Group             Managed health care
25    Verizon Communications               Telecommunication
26                 Visa Inc.              Financial services
27  Walgreens Boots Alliance                       Retailing
28                   Walmart                       Retailing
29   The Walt Disney Company  Broadcasting and entertainment

In [37]:
df[(df["Symbol"] == "AAPL")]

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%

In [38]:
df.loc[df['Symbol'] == 'AAPL', 'Exchange']

3    NASDAQ
Name: Exchange, dtype: object

In [40]:
df.sort_values(["Industry","Company"])

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
4,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,NaN,4.92%
20,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,NaN,2.58%
29,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,NaN,3.66%
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,NaN,1.25%
0,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
12,HON,Honeywell,NASDAQ,Conglomerate,2020-08-31,NaN,4.47%
5,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,NaN,4.54%
21,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,NaN,2.64%
1,AXP,American Express,NYSE,Financial services,1982-08-30,NaN,2.88%
10,GS,Goldman Sachs,NYSE,Financial services,2013-09-20,NaN,6.54%
16,JPM,JPMorgan Chase,NYSE,Financial services,1991-05-06,NaN,2.95%
23,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,NaN,3.03%
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,NaN,4.33%
17,MCD,McDonald's,NYSE,Food industry,1985-10-30,NaN,4.49%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,NaN,1.25%
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,NaN,4.98%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%
24,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,NaN,7.33%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
2,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,NaN,4.87%
15,JNJ,Johnson & Johnson,NYSE,Pharmaceutical industry,1997-03-17,NaN,3.12%
18,MRK,Merck & Co.,NYSE,Pharmaceutical industry,1979-06-29,NaN,1.49%
11,HD,The Home Depot,NYSE,Retailing,1999-11-01,NaN,6.24%
27,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,NaN,1.06%
28,WMT,Walmart,NYSE,Retailing,1997-03-17,NaN,2.72%
25,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,NaN,1.13%

In [41]:
df[(df["Industry"]== "Information technology")]

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,NaN,1.25%
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,NaN,4.98%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%

In [43]:
df[df['Notes'].notna() & (df['Notes'] != '')]

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting
0,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%

In [48]:
df.drop(columns = ["Notes"])

,Symbol,Company,Exchange,Industry,Date added,Index weighting
0,MMM,3M,NYSE,Conglomerate,1976-08-09,3.84%
1,AXP,American Express,NYSE,Financial services,1982-08-30,2.88%
2,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,4.87%
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,2.57%
4,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,4.92%
5,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,4.54%
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,2.03%
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,1.00%
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,1.04%
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,1.25%
10,GS,Goldman Sachs,NYSE,Financial services,2013-09-20,6.54%
11,HD,The Home Depot,NYSE,Retailing,1999-11-01,6.24%
12,HON,Honeywell,NASDAQ,Conglomerate,2020-08-31,4.47%
13,IBM,IBM,NYSE,Information technology,1979-06-29,2.59%
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,1.25%
15,JNJ,Johnson & Johnson,NYSE,Pharmaceutical industry,1997-03-17,3.12%
16,JPM,JPMorgan Chase,NYSE,Financial services,1991-05-06,2.95%
17,MCD,McDonald's,NYSE,Food industry,1985-10-30,4.49%
18,MRK,Merck & Co.,NYSE,Pharmaceutical industry,1979-06-29,1.49%
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,4.98%
20,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,2.58%
21,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,2.64%
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,4.45%
23,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,3.03%
24,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,7.33%
25,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,1.13%
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,4.33%
27,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,1.06%
28,WMT,Walmart,NYSE,Retailing,1997-03-17,2.72%
29,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,3.66%

In [51]:
df_prices = pd.read_csv(r"C:\Users\malli\OneDrive\Documents\Stock-Prices.csv")

In [61]:
#pd.merge(df,df_prices, on = "Symbol")
df1 = [df,df_prices]
pd.concat(df1)

,Symbol,Company,Exchange,Industry,Date added,Notes,Index weighting,Price
0,MMM,3M,NYSE,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%,NaN
1,AXP,American Express,NYSE,Financial services,1982-08-30,NaN,2.88%,NaN
2,AMGN,Amgen,NASDAQ,Pharmaceutical industry,2020-08-31,NaN,4.87%,NaN
3,AAPL,Apple Inc.,NASDAQ,Information technology,2015-03-19,NaN,2.57%,NaN
4,BA,Boeing,NYSE,Aerospace and defense,1987-03-12,NaN,4.92%,NaN
5,CAT,Caterpillar Inc.,NYSE,Construction and Mining,1991-05-06,NaN,4.54%,NaN
6,CVX,Chevron Corporation,NYSE,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%,NaN
7,CSCO,Cisco Systems,NASDAQ,Information technology,2009-06-08,NaN,1.00%,NaN
8,KO,The Coca-Cola Company,NYSE,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%,NaN
9,DOW,Dow Inc.,NYSE,Chemical industry,2019-04-02,NaN,1.25%,NaN
10,GS,Goldman Sachs,NYSE,Financial services,2013-09-20,NaN,6.54%,NaN
11,HD,The Home Depot,NYSE,Retailing,1999-11-01,NaN,6.24%,NaN
12,HON,Honeywell,NASDAQ,Conglomerate,2020-08-31,NaN,4.47%,NaN
13,IBM,IBM,NYSE,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%,NaN
14,INTC,Intel,NASDAQ,Information technology,1999-11-01,NaN,1.25%,NaN
15,JNJ,Johnson & Johnson,NYSE,Pharmaceutical industry,1997-03-17,NaN,3.12%,NaN
16,JPM,JPMorgan Chase,NYSE,Financial services,1991-05-06,NaN,2.95%,NaN
17,MCD,McDonald's,NYSE,Food industry,1985-10-30,NaN,4.49%,NaN
18,MRK,Merck & Co.,NYSE,Pharmaceutical industry,1979-06-29,NaN,1.49%,NaN
19,MSFT,Microsoft,NASDAQ,Information technology,1999-11-01,NaN,4.98%,NaN
20,NKE,"Nike, Inc.",NYSE,Apparel,2013-09-20,NaN,2.58%,NaN
21,PG,Procter & Gamble,NYSE,Fast-moving consumer goods,1932-05-26,NaN,2.64%,NaN
22,CRM,Salesforce,NYSE,Information technology,2020-08-31,NaN,4.45%,NaN
23,TRV,The Travelers Companies,NYSE,Financial services,2009-06-08,NaN,3.03%,NaN
24,UNH,UnitedHealth Group,NYSE,Managed health care,2012-09-24,NaN,7.33%,NaN
25,VZ,Verizon Communications,NYSE,Telecommunication,2004-04-08,NaN,1.13%,NaN
26,V,Visa Inc.,NYSE,Financial services,2013-09-20,NaN,4.33%,NaN
27,WBA,Walgreens Boots Alliance,NASDAQ,Retailing,2018-06-26,NaN,1.06%,NaN
28,WMT,Walmart,NYSE,Retailing,1997-03-17,NaN,2.72%,NaN
29,DIS,The Walt Disney Company,NYSE,Broadcasting and entertainment,1991-05-06,NaN,3.66%,NaN
0,MMM,NaN,NaN,NaN,NaN,NaN,NaN,223.34
1,AXP,NaN,NaN,NaN,NaN,NaN,NaN,176.22
2,AMGN,NaN,NaN,NaN,NaN,NaN,NaN,262.12
3,AAPL,NaN,NaN,NaN,NaN,NaN,NaN,137.07
4,BA,NaN,NaN,NaN,NaN,NaN,NaN,271.76
5,CAT,NaN,NaN,NaN,NaN,NaN,NaN,265.12
6,CVX,NaN,NaN,NaN,NaN,NaN,NaN,114.33
7,CSCO,NaN,NaN,NaN,NaN,NaN,NaN,58.23
8,KO,NaN,NaN,NaN,NaN,NaN,NaN,60.89
9,DOW,NaN,NaN,NaN,NaN,NaN,NaN,75.30
10,GS,NaN,NaN,NaN,NaN,NaN,NaN,409.46
11,HD,NaN,NaN,NaN,NaN,NaN,NaN,350.93
12,HON,NaN,NaN,NaN,NaN,NaN,NaN,254.53
13,IBM,NaN,NaN,NaN,NaN,NaN,NaN,158.39
14,INTC,NaN,NaN,NaN,NaN,NaN,NaN,62.89
15,JNJ,NaN,NaN,NaN,NaN,NaN,NaN,186.34
16,JPM,NaN,NaN,NaN,NaN,NaN,NaN,180.62
17,MCD,NaN,NaN,NaN,NaN,NaN,NaN,257.24
18,MRK,NaN,NaN,NaN,NaN,NaN,NaN,14.08
19,MSFT,NaN,NaN,NaN,NaN,NaN,NaN,274.81
20,NKE,NaN,NaN,NaN,NaN,NaN,NaN,150.11
21,PG,NaN,NaN,NaN,NaN,NaN,NaN,148.39
22,CRM,NaN,NaN,NaN,NaN,NaN,NaN,261.25
23,TRV,NaN,NaN,NaN,NaN,NaN,NaN,175.67
24,UNH,NaN,NaN,NaN,NaN,NaN,NaN,453.73
25,VZ,NaN,NaN,NaN,NaN,NaN,NaN,62.15
26,V,NaN,NaN,NaN,NaN,NaN,NaN,250.25
27,WBA,NaN,NaN,NaN,NaN,NaN,NaN,58.03
28,WMT,NaN,NaN,NaN,NaN,NaN,NaN,156.22
29,DIS,NaN,NaN,NaN,NaN,NaN,NaN,196.66